table{
  color: white;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #D2DE32;
  padding: 5px;
}
tr{
  border: 1px solid white;
  background-color: #FFB996;
}
td{
  padding: 15px;
}
button{
  color: white;
  background-color: lightskyblue;
  border: none;
  height: 25px;
  width: 70px;
  border-radius: 5px;
  
}


