.container1{
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 30px;
  font-size: 0px;
}

.container1 > div{
  width: 150px;
  height: 150px;
  background-color: red;
  border: 1px solid black;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  line-height: 150px;
  font-weight: bold;
  display: inline-block;
  /* inline은 한 줄에 여러개 가능
     but 높이,너비 설정 불가
     -> inline-block으로 설정
     ㄴ옆으로 설정을 가능하나 공간이 생겨버림 */
}
