/* 2024-05-28 5교시 */

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  width: 800px;
  height: 300px;
  box-shadow: 0px 0px 8px lightgray;
  padding: 24px 26px;
  border-radius: 10px;
}

.content{
  display: flex;
  align-items: center;
  height: 220px;
  justify-content: space-around;
}

input[type="text"],
input[type="password"]{
  display: block;
  margin-top: 4px;
  margin-bottom: 8px;
  width: 100%;
  padding: 4px 4px;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
}
input[type="text"]:focus,
input[type="password"]:focus{
  border: 1.5px solid lightcoral;
}

.login-form{
  width: 45%;
  background-color: #eeeeee;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0px 0px 4px lightgray;
}
.intro{
  width: 45%;
}

/* label은 인라인 블록이라 상하margin 불가능 */
label{
  font-weight: bold;
  font-size: 0.8rem;
}

.btn-div{
  margin-top: 8px;
}

button{
  color: white;
  background-color: lightblue;
  /* outline: none; */
  border: none;
  width: 100px;
  padding: 3px;
  border-radius: 4px;
}
button:hover{
  color: rgb(240, 240, 240);
  background-color: rgb(163, 206, 220);
  cursor: pointer;
}

.intro> h4{
  margin-bottom: 6px;
}
.intro li{
  font-size: 0.8rem;
  margin-bottom: 4px;  
}

.intro a{
  background-color: lightpink;
  text-decoration: none;
  color: white;
  display: block;
  border-radius: 4px;
  font-size: 0.9rem;
  text-align: center;
  padding: 4px 0px;
}

p{
  color: green;
  text-align: center;
  font-size: 0.8rem;
  margin: 6px 0px;
}

.intro span{
  color: lightgreen;
  font-size: 0.7rem;
  padding-right: 2px;
}

input[type="checkbox"]{
  position: relative;
  top: 1px;
}

.intro>ul{
  margin-bottom: 15px;
}