ul{
  list-style-type: none;
}

ul>li{
  border: 1px solid black;
  display: inline-block;
  width: 100px;
  text-align: center;  
}

body{
  background-image: url();
}
/* css 이미지 배경 검색해서 알아서 찾아서 해보기 */