/* 
  태그의 너비는 기본적으로 
  width + padding + border의 합
*/

.p1{
  /* 테두리 */
  border: 3px solid black;
  /* 바깥쪽 여백 */
  margin: 30px;
  /* 안쪽 여백 */
  padding: 20px;
}

.p2{
  border: 3px solid crimson;
  margin-left: 30px;
  padding-top: 20px;
}

.p3{
  border: 3px dotted violet;
  padding: 5px 10px 15px 20px;
  /* 윗면 우측 아래 좌측 (시계방향) */
  margin: 50px 20px;
  /* 2개 입력 시 상하 좌우 */
}

.p4{
  border: 1px solid black;
  width: 250px;
  height: 150px;
  /* width 너비 height 높이 */
}

.a1{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 50px 50px;
}
/* a태그는 margin이 상하적용x 좌우만 반영됨 */
/* border(테두리) : 크키px 형태(solid 실선, dashed 점선, dotted 점) 색상 */