/* 2024.05.30 2&3교시 */
body{
  background-color: lightgray;
}

.container{
  width: 700px;
  margin: 50px auto;
}

.tab-btn{
  display: flex;
  gap: 2px;
}

.tab-btn a{
  background-color: black;
  color: white;
  text-align: center;
  width: 150px;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
} 

.tab-content{
  position: relative;
}

.tab-item{
  position: absolute;
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  background-color: white;
  padding: 30px;
  transition: all 0.8s;
}

.tab-item:target{
  /* display: block; */
  opacity: 1;
  /* ㄴdisplay or opacity 둘 다 눈에 보이는 결과값은 같으나 opacity는 transition 적용 가능
  but, opacity는 글자 드래그가 마지막 페이지 제외 불가능->마지막 페이지가 마지막으로 적용 & 최상단에 있기 때문 */
  visibility: visible;
}

.tab-btn a:hover{
  color: lightblue;
}

a.show{
  background-color: white;
  color: black;
  border-top: 2px solid black;
}

/* a.show{} a태그 중 show라는 클래스 선택
a .show{} 자손 선택
a > .show{} 자식 선택 */
