<!-- 2024.6.24 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 </head>
 <body>
  <form action="/updateStu" method="post">
    <input type="hidden" name="boardNum" th:value="${student.boardNum}">
    학번 : [[${student.boardNum}]]<br>
    이름 : <input type="text" name="stuName" th:value="${student.stuName}"> <br>
    국어 점수 : <input type="text" name="korScore" th:value="${student.korScore}"> <br>
    영어 점수 : <input type="text" name="engScore" th:value="${student.engScore}"> <br>
    자기소개 : <textarea name="intro">[[${student.intro}]]</textarea> <br>
    <button type="submit">정보수정</button>
  </form>
 </body>
 </html>