<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<form action="/updateStudent" method="post">
  <input type="hidden" name="stuNum" th:value="${student.stuNum}">
    학번 : [[${student.stuNum}]] <br>
    이름 : <input type="text" name="stuName" th:value="${student.stuName}"> <br>
    국어 점수 : <input type="text" name="korScore" th:value="${student.korScore}"> <br>
    영어 점수 : <input type="text" name="engScore" th:value="${student.engScore}"> <br>
    자기 소개 : <textarea name="intro">[[${student.intro}]]</textarea> <br>
    <input type="submit" value="정보수정">
</form>

</body>
</html>