<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <td>학번</td>
      <td></td>
      <td>이름</td>
      <td></td>
    </tr>
    <tr>
      <td>국어점수</td>
      <td></td>
      <td>영어점수</td>
      <td></td>
    </tr>
    <tr>
      <td>자기소개</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <input type="submit" value="뒤로가기" onclick="">
  <input type="submit" value="정보수정" onclick="">

  <script>
  </script>  
</body>
</html>